---
import Hero from '~/components/widgets/Hero.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import HeroText from '~/components/widgets/HeroText.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
  >
    <Fragment slot="title">
      CloudPath <br />
      <span class="text-accent dark:text-white highlight">IT for Humans</span>
    </Fragment>
  </Hero>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our values"
    subtitle="Learn what makes us tick."
    items={[
      {
        title: 'Customer-centric approach',
        description:
        "We take a proactive, strategic, people first approach to evaluating your IT needs. This enables us to design and implement the right IT solutions built around you, not just bundle together products like all those other guys.",
      },
      {
        title: 'Constant Improvement',
        description:
          'We believe nothing is perfect, but we can continually improve everything we are working on.',
      },
      {
        title: 'Ethical Practices',
        description:
          'We strive to uphold the highest standards of integrity, responsible behavior, and ethical conduct in our professional activities.',
      },
    ]}
  />
    <!-- HeroText Widget ******************* -->

    <HeroText tagline="Contact" title="Let's Connect!" />

    <ContactUs
      id="form"
      title="Drop us a message today!"
      subtitle="Get in touch to find out more about CloudPath and how we can help enable your organization with superior support, cybersecurity, cloud services and compliance."
      inputs={[
        {
          type: 'text',
          name: 'name',
          label: 'Name',
        },
        {
          type: 'email',
          name: 'email',
          label: 'Email',
        },
      ]}
      textarea={{
        label: 'Message',
      }}
      disclaimer={{
        label:
          'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
      }}
      description="Our support team typically responds within 2 business hours."
    />
</Layout>
