---
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Cyber Security',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero
    tagline="Services"
    title="Co-Managed IT"
    subtitle="IT Augmentation for your team. Scale your IT team quickly and effortlessly."
    actions={[
      { variant: 'primary', text: 'Get Connected', href: '#form', icon: 'tabler:plug-connected' },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'High-Quality Designs',
        description:
          'Our templates feature top-tier designs that ensure a professional and polished appearance for your projects.',
        icon: 'tabler:wand',
      },
      {
        title: 'Customization Tools',
        description:
          'Tailor each template to your unique needs with user-friendly customization tools that let you personalize colors, fonts, and content.',
        icon: 'tabler:settings',
      },
      {
        title: 'Pre-Designed Elements',
        description:
          'Save time and effort with our ready-to-use elements, including graphics, icons, and layouts that enhance the visual appeal of your creations.',
        icon: 'tabler:presentation',
      },
      {
        title: 'Preview and Mockup Views',
        description:
          'Visualize the final outcome before making any changes using our preview and mockup views, ensuring your projects meet your expectations.',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Main Features</h3>
    </Fragment>
  </Content>

  <Features2
  id="services"
    title="Explore our services"
    columns={3}
    items={[
      {
        title: 'Cyber Security',
        description:
          'Conduct your business without disruption — and without losing sleep.',
        icon: 'tabler:cloud-lock',
        callToAction: {
          text: 'Explore',
          href: 'https://www.vgeek.guru/cyber-security',
        },
      },
      {
        title: 'Strategic Planning',
        description:
          'Our strategic consultation services assist you to build an IT strategy that futureproofs your systems.',
        icon: 'tabler:activity',
        callToAction: {
          text: 'Explore',
          href: 'https://www.vgeek.guru/strategic-planning',
        },
      },
      {
        title: 'Managed Services',
        description: "Feeling overwhelmed trying to keep up with tech? We'll be your IT.",
        icon: 'tabler:network',
        callToAction: {
          text: 'Explore',
          href: 'https://www.vgeek.guru/managed-services',
        },
      },
      {
        title: 'IT Support',
        description: "Create a bespoke service plan with us tailored to your business needs, providing you with reliable and trustworthy IT support.",
        icon: 'tabler:contract',
        callToAction: {
          text: 'Explore',
          href: 'https://www.vgeek.guru/it-support',
        },
      },
      {
        title: 'Data Protection',
        description:
          "Protect your data and make sure it's there when you need it if disaster strikes.",
        icon: 'tabler:lock-password',
        callToAction: {
          text: 'Explore',
          href: 'https://www.vgeek.guru/data-protection',
        },
      },
      {
        title: 'Co-Managed IT',
        description:
          "IT Augmentation for your team. Scale your IT team quickly and effortlessly.",
        icon: 'tabler:user-star',
        callToAction: {
          text: 'Explore',
          href: 'https://www.vgeek.guru/comanaged-it',
        },
      },
    ]}
  />
  
<!-- HeroText Widget ******************* -->

<HeroText tagline="Contact" title="Let's Connect!" />

<ContactUs
  id="form"
  title="Drop us a message today!"
  subtitle="Get in touch to find out more about vGeek and how we can help enable your organization with superior support, cybersecurity, cloud services and compliance."
  inputs={[
    {
      type: 'text',
      name: 'name',
      label: 'Name',
    },
    {
      type: 'email',
      name: 'email',
      label: 'Email',
    },
  ]}
  textarea={{
    label: 'Message',
  }}
  disclaimer={{
    label:
      'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
  }}
  description="Our support team typically responds within 2 business hours."
/>
</Layout>