---
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Cyber Security',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero
    tagline="Services"
    title="Cyber Security"
    subtitle="Conduct your business without disruption — and without losing sleep."
    actions={[
      { variant: 'primary', text: 'Get Connected', href: '#form', icon: 'tabler:plug-connected' },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Business-class Firewall',
        description:
          'These devices control all the traffic in and out of your network. The next-generation business-class firewalls can detect and block more complicated attacks and intrusions than consumer-grade products.',
        icon: 'tabler:wall',
      },
      {
        title: 'Anti-virus/Anti-malware',
        description:
          'The same type of anti-virus and anti-malware protection is deployed across all your workstations so it can be centrally managed. These solutions are only as good as their updates, so we recommend programs that update hourly.',
        icon: 'tabler:home-shield',
      },
      {
        title: 'Ransomware Protection',
        description:
          'Ransomware infects and encrypts all the important data that resides on local workstations and your server, causing loss and extended downtime. We work to prevent these attacks in the first place by utilizing a layered approach to security.',
        icon: 'tabler:wand',
      },
      {
        title: 'Software Patching',
        description:
          'Fixing software security vulnerabilities is called patching, and it must occur on a consistent, timely basis. To keep your environment secure, we deploy these patches as soon as they are issued for operating systems and software.',
        icon: 'tabler:bandage',
      },
      {
        title: 'Web Protection',
        description:
          'With web protection, we will keep your data and computers secure while you are on-the-go, no matter where you are working.',
        icon: 'tabler:user-shield',
      },
    ]}
    image={{
      src: '~/assets/images/cybersecurity.png',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Main Features</h3>
    </Fragment>
  </Content>

  <Features2
  id="services"
    title="Explore our services"
    columns={3}
    items={[
      {
        title: 'Cyber Security',
        description:
          'Conduct your business without disruption — and without losing sleep.',
        icon: 'tabler:cloud-lock',
        callToAction: {
          text: 'Explore',
          href: 'https://www.vgeek.guru/cyber-security',
        },
      },
      {
        title: 'Strategic Planning',
        description:
          'Our strategic consultation services assist you to build an IT strategy that futureproofs your systems.',
        icon: 'tabler:activity',
        callToAction: {
          text: 'Explore',
          href: 'https://www.vgeek.guru/strategic-planning',
        },
      },
      {
        title: 'Managed Services',
        description: "Feeling overwhelmed trying to keep up with tech? We'll be your IT.",
        icon: 'tabler:network',
        callToAction: {
          text: 'Explore',
          href: 'https://www.vgeek.guru/managed-services',
        },
      },
      {
        title: 'IT Support',
        description: "Create a bespoke service plan with us tailored to your business needs, providing you with reliable and trustworthy IT support.",
        icon: 'tabler:contract',
        callToAction: {
          text: 'Explore',
          href: 'https://www.vgeek.guru/it-support',
        },
      },
      {
        title: 'Data Protection',
        description:
          "Protect your data and make sure it's there when you need it if disaster strikes.",
        icon: 'tabler:lock-password',
        callToAction: {
          text: 'Explore',
          href: 'https://www.vgeek.guru/data-protection',
        },
      },
      {
        title: 'Co-Managed IT',
        description:
          "IT Augmentation for your team. Scale your IT team quickly and effortlessly.",
        icon: 'tabler:user-star',
        callToAction: {
          text: 'Explore',
          href: 'https://www.vgeek.guru/comanaged-it',
        },
      },
    ]}
  />
  
<!-- HeroText Widget ******************* -->

<HeroText tagline="Contact" title="Let's Connect!" />

<ContactUs
  id="form"
  title="Drop us a message today!"
  subtitle="Get in touch to find out more about vGeek and how we can help enable your organization with superior support, cybersecurity, cloud services and compliance."
  inputs={[
    {
      type: 'text',
      name: 'name',
      label: 'Name',
    },
    {
      type: 'email',
      name: 'email',
      label: 'Email',
    },
  ]}
  textarea={{
    label: 'Message',
  }}
  disclaimer={{
    label:
      'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
  }}
  description="Our support team typically responds within 2 business hours."
/>
</Layout>