---
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Data Protection',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero
    tagline="Services"
    title="Data Protection"
    subtitle="Protect your data and make sure it's there when you need it if disaster strikes.",
    actions={[
      { variant: 'primary', text: 'Get Connected', href: '#form', icon: 'tabler:plug-connected' },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'We take backup and recovery off your plate',
        description:
          'Our Backup and Recovery services focus on making sure your business is prepared for the unthinkable - data loss. We give you the ability to bounce back from tech issues, so rest assured you are taken care of.',
        icon: 'tabler:wand',
      },
      {
        title: 'Customizable plans',
        description:
          'From backing up everything to just backing up mission critical devices, our plans are fully customizable to fit your needs.',
        icon: 'tabler:settings',
      },
      {
        title: 'Not having a backup and recovery plan could cost your company in the long run',
        description:
          "It's not just ransomware businesses need to worry about. Your data may be vulnerable to many types of data loss, such as accidental deletion, hardware failure, theft, and cyber attacks.",
        icon: 'tabler:moneybag',
      },
      {
        title: 'Protect business critical data',
        description:
          "Ensure your company can continue in the event of a disater. Loss of critical business data, especially financial records and customer information, can cause irreparable damage to your company's reputation.",
        icon: 'tabler:exclamation-circle',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Main Features</h3>
    </Fragment>
  </Content>

  <Features2
  id="services"
    title="Explore our services"
    columns={3}
    items={[
      {
        title: 'Cyber Security',
        description:
          'Conduct your business without disruption — and without losing sleep.',
        icon: 'tabler:cloud-lock',
        callToAction: {
          text: 'Explore',
          href: 'https://www.cloudpathinnovations.com/cyber-security',
        },
      },
      {
        title: 'Strategic Planning',
        description:
          'Our strategic consultation services assist you to build an IT strategy that futureproofs your systems.',
        icon: 'tabler:activity',
        callToAction: {
          text: 'Explore',
          href: 'https://www.cloudpathinnovations.com/strategic-planning',
        },
      },
      {
        title: 'Managed Services',
        description: "Feeling overwhelmed trying to keep up with tech? We'll be your IT.",
        icon: 'tabler:network',
        callToAction: {
          text: 'Explore',
          href: 'https://www.cloudpathinnovations.com/managed-services',
        },
      },
      {
        title: 'IT Support',
        description: "Create a bespoke service plan with us tailored to your business needs, providing you with reliable and trustworthy IT support.",
        icon: 'tabler:contract',
        callToAction: {
          text: 'Explore',
          href: 'https://www.cloudpathinnovations.com/it-support',
        },
      },
      {
        title: 'Data Protection',
        description:
          "Protect your data and make sure it's there when you need it if disaster strikes.",
        icon: 'tabler:lock-password',
        callToAction: {
          text: 'Explore',
          href: 'https://www.cloudpathinnovations.com/data-protection',
        },
      },
      {
        title: 'Co-Managed IT',
        description:
          "IT Augmentation for your team. Scale your IT team quickly and effortlessly.",
        icon: 'tabler:user-star',
        callToAction: {
          text: 'Explore',
          href: 'https://www.cloudpathinnovations.com/comanaged-it',
        },
      },
    ]}
  />
  
<!-- HeroText Widget ******************* -->

<HeroText tagline="Contact" title="Let's Connect!" />

<ContactUs
  id="form"
  title="Drop us a message today!"
  subtitle="Get in touch to find out more about CloudPath and how we can help enable your organization with superior support, cybersecurity, cloud services and compliance."
  inputs={[
    {
      type: 'text',
      name: 'name',
      label: 'Name',
    },
    {
      type: 'email',
      name: 'email',
      label: 'Email',
    },
  ]}
  textarea={{
    label: 'Message',
  }}
  disclaimer={{
    label:
      'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
  }}
  description="Our support team typically responds within 2 business hours."
/>
</Layout>