---
import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'vGeek — IT for Humans',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero2
  tagline="vGeek Technology Consulting"
  title="Simple & Secure IT"
  subtitle="Ready to focus on your business again?"
  actions={[
    { variant: 'primary', text: 'Get Connected ', href: 'https://vgeek.guru/#form', icon: 'tabler:plug-connected' },
    { text: 'Learn more', href: '#learn-more' },
  ]}
  image={{
    src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
    alt: 'vGeek Hero Image',
  }}
/>
  <!-- Content Widget **************** -->

  <Content
    id="learn-more"
    isReversed
    tagline="Why vGeek?"
    title="Focus on growing your business, not fighting technology!"
    items={[
      {
        title: 'Relentlessly Caring',
        description:
          'Your goals are our goals.',
      },
      {
        title: 'Better Security',
        description:
          "Staying secure is tough. We've got your back.",
      },
      {
        title: '90-Day Guarantee',
        description:
          "If you don't love us, we'll help your transtition to a new support firm.",
      },
      {
        title: 'Tailored Approach',
        description:
          "As part of your custom-built plan, you'll benefits from a range of our services.",
      },
    ]}
    image={{ src: '~/assets/images/118-macbook.png', alt: 'Macbook image' }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building simple, secure IT solutions</h3>
      Gain a competitive advantage by partnering with vGeek.
    </Fragment>
    
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'People first!',
        description: "Proactive, strategic, people first approach to evaluating your IT needs.",
      },
      {
        title: 'Right-sized IT solutions.',
        description:
          "IT solutions built around your needs, not some bundle.",
      },
      {
        title: 'No catch, no gimmick...',
        description:
          "...just experience and best practices we've honed over the years to make our services work for you.",
      },
      {
        title: 'Positive technology experience.',
        description:
          "We believe that technology should bring about a positive experience. That problems should be dealt with efficiently to bring rocking results - for now and into the future.",
      },
    ]}
    image={{ src: '~/assets/images/day95-app-development.png', alt: 'Multiple mobile devices' }}
  >
    <Fragment slot="content">What is IT for Humans?</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Our process"
    isReversed
    items={[
      {
        title: 'Step 1: <span class="font-medium">Contact Us!</span>',
        description:
          "Reach out to schedule a discussion about your needs.",
        icon: 'tabler:address-book',
      },
      {
        title: 'Step 2: <span class="font-medium">Assess</span>',
        description:
          "We start by taking a good look at your network and provide you with a clear service proposal based on your needs.",
        icon: 'tabler:clock-search',
      },
      {
        title: 'Step 3: <span class="font-medium">Optimize</span>',
        description:
          "We thoroughly clean up and document your computer network so that we can manage and support it efficiently.",
        icon: 'tabler:heart-cog',
      },
      {
      title: 'Step 4: <span class="font-medium">Manage & Support</span>',
        description:
          "We install our remote support software and take over responsibility for managing your computer infrastructure.",
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />
  <Features2
  id="services"
    title="Explore our services"
    columns={3}
    items={[
      {
        title: 'Cyber Security',
        description:
          'Conduct your business without disruption — and without losing sleep.',
        icon: 'tabler:cloud-lock',
        callToAction: {
          text: 'Explore',
          href: 'https://www.vgeek.guru/cyber-security',
        },
      },
      {
        title: 'Strategic Planning',
        description:
          'Our strategic consultation services assist you to build an IT strategy that futureproofs your systems.',
        icon: 'tabler:activity',
        callToAction: {
          text: 'Explore',
          href: 'https://www.vgeek.guru/strategic-planning',
        },
      },
      {
        title: 'Managed Services',
        description: "Feeling overwhelmed trying to keep up with tech? We'll be your IT.",
        icon: 'tabler:network',
        callToAction: {
          text: 'Explore',
          href: 'https://www.vgeek.guru/managed-services',
        },
      },
      {
        title: 'IT Support',
        description: "Create a bespoke service plan with us tailored to your business needs, providing you with reliable and trustworthy IT support.",
        icon: 'tabler:contract',
        callToAction: {
          text: 'Explore',
          href: 'https://www.vgeek.guru/it-support',
        },
      },
      {
        title: 'Data Protection',
        description:
          "Protect your data and make sure it's there when you need it if disaster strikes.",
        icon: 'tabler:lock-password',
        callToAction: {
          text: 'Explore',
          href: 'https://www.vgeek.guru/data-protection',
        },
      },
      {
        title: 'Co-Managed IT',
        description:
          "IT Augmentation for your team. Scale your IT team quickly and effortlessly.",
        icon: 'tabler:user-star',
        callToAction: {
          text: 'Explore',
          href: 'https://www.vgeek.guru/comanaged-it',
        },
      },
    ]}
  />
  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Schedule now!',
        href: '#form',
        icon: 'tabler:calendar-check',
      },
    ]}
  >
    <Fragment slot="title">
      Get started!
    </Fragment>
  </CallToAction>

    <!-- Features Widget *************** -->

    <Features
    id="features"
    tagline="Features"
    title="What you get with vGeek"
    subtitle="Let's simplify your IT."
    items={[
      {
        title: 'IT Strategy',
        description:
          "We will help you chart a course to meet your business's unique business needs as they evolve over time.",
        icon: 'tabler:activity',
      },
      {
        title: 'Multi-layered Cybersecurity',
        description:
          'We leverage industry best practices to keep your organization more resilient to cyber threats.',
        icon: 'tabler:components',
      },
      {
        title: 'Stability',
        description:
          "A reliable, efficient IT environment so you can provide the best service to your customers.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Data Protection',
        description:
          'When the unthinkable happens, our disaster recovery solutions get your information back into your hands without impacting daily operations.',
        icon: 'tabler:shield-check',
      },
      {
        title: 'Best Practices',
        description:
          'Standard best practices experience we have honed over the years to make our services work for you.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Round-The-Clock IT Support',
        description:
          'IT issues can strike at any time. Enjoy around the clock, reliable IT support.',
        icon: 'tabler:clock-24',
      },
    ]}
  />

  <ContactUs
    id="form"
    title="Drop us a message today!"
    subtitle="Get in touch to find out more about vGeek and how we can help enable your organization with superior support, cybersecurity, cloud services and compliance."
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    textarea={{
      label: 'Message',
    }}
    disclaimer={{
      label:
        'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
    }}
    description="Our support team typically responds within 2 business hours."
  />
</Layout>
