---
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'IT Support',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero
    tagline="Services"
    title="IT Support"
    subtitle="Create a bespoke service plan with us tailored to your business needs, providing you with reliable and trustworthy IT support.",
    actions={[
      { variant: 'primary', text: 'Get Connected', href: '#form', icon: 'tabler:plug-connected' },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: "Don't settle for out-of-the-box support",
        description:
          "IT isn't one size fits all. We'll start by asking questions and examining your existing setup. We will then design a plan that's an exact fit for you - nothing more, nothing less.",
        icon: 'tabler:wand',
      },
      {
        title: 'Solve tomorrow’s problems, today',
        description:
          'A lot of challenges are solved by planning ahead. That’s why we prioritise partnership and strategy, creating a roadmap that takes your IT from fighting fires to facilitating growth.',
        icon: 'tabler:progress-check',
      },
      {
        title: 'Happy and productive teams',
        description:
          'Don’t let tech problems get in the way of a good day’s work. Remove friction, boost productivity and put a smile on your employees’ faces with human, responsive support.',
        icon: 'tabler:users-group',
      },
      {
        title: 'Work from anywhere',
        description:
          'The "Work Anywhere" reality brings new opportunities and challenges. We’ll be on hand to help you adapt quickly, so you can work when, where and how you want.',
        icon: 'tabler:plane',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1580893246395-52aead8960dc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Main Features</h3>
    </Fragment>
  </Content>

  <Features2
  id="services"
    title="Explore our services"
    columns={3}
    items={[
      {
        title: 'Cyber Security',
        description:
          'Conduct your business without disruption — and without losing sleep.',
        icon: 'tabler:cloud-lock',
        callToAction: {
          text: 'Explore',
          href: 'https://www.cloudpathinnovations.com/cyber-security',
        },
      },
      {
        title: 'Strategic Planning',
        description:
          'Our strategic consultation services assist you to build an IT strategy that futureproofs your systems.',
        icon: 'tabler:activity',
        callToAction: {
          text: 'Explore',
          href: 'https://www.cloudpathinnovations.com/strategic-planning',
        },
      },
      {
        title: 'Managed Services',
        description: "Feeling overwhelmed trying to keep up with tech? We'll be your IT.",
        icon: 'tabler:network',
        callToAction: {
          text: 'Explore',
          href: 'https://www.cloudpathinnovations.com/managed-services',
        },
      },
      {
        title: 'IT Support',
        description: "Create a bespoke service plan with us tailored to your business needs, providing you with reliable and trustworthy IT support.",
        icon: 'tabler:contract',
        callToAction: {
          text: 'Explore',
          href: 'https://www.cloudpathinnovations.com/it-support',
        },
      },
      {
        title: 'Data Protection',
        description:
          "Protect your data and make sure it's there when you need it if disaster strikes.",
        icon: 'tabler:lock-password',
        callToAction: {
          text: 'Explore',
          href: 'https://www.cloudpathinnovations.com/data-protection',
        },
      },
      {
        title: 'Co-Managed IT',
        description:
          "IT Augmentation for your team. Scale your IT team quickly and effortlessly.",
        icon: 'tabler:user-star',
        callToAction: {
          text: 'Explore',
          href: 'https://www.cloudpathinnovations.com/comanaged-it',
        },
      },
    ]}
  />
  
<!-- HeroText Widget ******************* -->

<HeroText tagline="Contact" title="Let's Connect!" />

<ContactUs
  id="form"
  title="Drop us a message today!"
  subtitle="Get in touch to find out more about CloudPath and how we can help enable your organization with superior support, cybersecurity, cloud services and compliance."
  inputs={[
    {
      type: 'text',
      name: 'name',
      label: 'Name',
    },
    {
      type: 'email',
      name: 'email',
      label: 'Email',
    },
  ]}
  textarea={{
    label: 'Message',
  }}
  disclaimer={{
    label:
      'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
  }}
  description="Our support team typically responds within 2 business hours."
/>
</Layout>