---
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import HeroText from '~/components/widgets/HeroText.astro';

const metadata = {
  title: 'Services',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Services"
    title="Elevate your IT with our tailored services"
    subtitle="Explore our offerings to learn more about how we can help your business."
    actions={[{ variant: 'primary', text: 'Start exploring', href: '#services' }]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Services Hero Image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
  id="services"
    title="Explore our services"
    columns={3}
    items={[
      {
        title: <a href="https://www.vgeek.guru/cyber-security">Cyber Security</a>,
        description:
          'We not only deploy multiple layers of protection to identify and neutralize current cyber threats, but we continuously monitor the security landscape to head off emerging threats. As a result, you can conduct your business without disruption—and without losing sleep.',
        icon: 'tabler:cloud-lock',
      },
      {
        title: <a href="https://www.vgeek.guru/strategic-planning">Strategic Planning</a>,
        description:
          'Our strategic consultation services assist you to build an IT strategy that futureproofs your systems. Find out how we can help you here.',
        icon: 'tabler:activity',
      },
      {
        title: <a href="https://www.vgeek.guru/managed-services">Managed Services</a>,
        description: "Feeling overwhelmed trying to keep up with tech? Be the office rockstar and bring in vGeek - we provide your small business with an all-in-one IT department.",
        icon: 'tabler:network',
      },
      {
        title: <a href="https://www.vgeek.guru/it-support">IT Support</a>,
        description:
          "Create a bespoke service plan with us tailored to your business needs, providing you with reliable and trustworthy IT support.",
        icon: 'tabler:contract',
      },
      {
        title: <a href="https://www.vgeek.guru/data-protection">Data Protection</a>,
        description:
          'With attention to typography, these templates empower effective content presentation for writers at any stage, ensuring visually engaging and user-friendly blogs.',
        icon: 'tabler:lock-password',
      },
      {
        title: <a href="https://www.vgeek.guru/comanaged-it">Co-Managed IT</a>,
        description:
          "IT Augmentation for your team. Scale your IT team quickly and effortlessly.",
        icon: 'tabler:user-star',
      },
    ]}
  />

  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contact" title="Let's Connect!" />

  <ContactUs
    id="form"
    title="Drop us a message today!"
    subtitle="Get in touch to find out more about vGeek and how we can help enable your organization with superior support, cybersecurity, cloud services and compliance."
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    textarea={{
      label: 'Message',
    }}
    disclaimer={{
      label:
        'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
    }}
    description="Our support team typically responds within 2 business hours."
  />
</Layout>
